@keyframes move {
    0% {
        text-shadow: 13px 10px 20px darkgrey;
    }


    50% {
        text-shadow: 8px 8px 10px rgab(0,0,0,1);
    }

    100% {
        text-shadow: 13px 10px 20px darkgrey;
    }
}

@keyframes passingTime {
   
    100% {
        transform: rotate(360deg);
    }
}

@keyframes passingTimeMedia {
   
    100% {
        transform: rotate(360deg);
    }
}

@keyframes sunset {
   
    100% {
        transform: rotate(360deg);
      
    }
}

@keyframes backgroundRotate {

    100% {
        transform: rotate(360deg);
    }

}