@import './tabletMedia.css';

/* __________________________________________ */
/* Special Case */
@media only screen and (max-width: 1704px) {
    #d-Colors {
        height: 175px;
        width: 175px;
        /* margin: 1em; */
        border: 1pt solid orangered;
        border-radius: 300px;
        
    }
}

/* _______________________________________________ */
/* Mobile Screens */

@media only screen and (max-width: 450px) {
    /* JUMBOTRON */
    .jumbotron {
        position: relative;
        z-index: -1;
    }

    .dayNight {
        top: 25em;
        width: 50vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        animation-name: none;
        animation-duration: 15s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    
    .sunShell {
        /* padding: 3em;
        height: 100px;
        width: 100px; */
        animation-name: none;
        /* animation-duration: 15s;
        animation-iteration-count: infinite;
        animation-timing-function: linear; */
    }

    #dArrow {
        top: 80vh;
        left: 45%;
    }
/* ------------------------------------------------- */
    /* CONTACT ME */
    .contact-btn {
        position: sticky;
        bottom: 0em;
        /* left: 14em; */
        height: 8vh;
        width: 100vw;
    }

    .title {
        top: 30%;
    }    
/* ------------------------------------------------- */
    /* LIST OF ICONS */
    #icon-ref {
        display: none;
    }

    #icon-ref-mobile {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100vw;
        justify-content: center;
        align-items: center;
        padding: 1em;
        margin-top: -1em;
    }
/* ------------------------------------------------- */
    /* MISSION STATEMENT  */
    .mission-body {
        padding: 0 2em 2em 2em;
        width: 100%;
    }

    .mStatement {
        width: 80vw;
    }

    #mission-image {
        display: none;
    }
/* ------------------------------------------------- */
    /* PROJECTS */
    .projectBoard {
        padding: 1rem;
    }
    
    #projectImage {
        margin: .2em auto;
    }
    
    .projectItemA {
        flex-direction: column;
    }
    
    .projectItemB {
        flex-direction: column;
    }
    
    #projectInfo {
        width: 90vw;
        flex-direction: column;    
    }
    
    /* .projectDetail {
    
    } */

/* ------------------------------------------------- */
    /* ABOUT ME */ 
    #aboutMeText {
        width: 80vw;
    }
/* ------------------------------------------------- */
    /* DESIGN */
    .designPrincipleMain {
        padding: .5em;
    }

    #designConcept {
        padding: 0 20px;
        width: 90vw;
    }

    .designColors {
        border-right: none;
        width: 100vw;
    }

    #d-Colors {
        height: 80px;
        width: 80px;
        margin: auto;
        border: 1pt solid red;
        border-radius: 300px;
    }

    .designFonts {
        padding: 1em;
        /* border-bottom: 5pt solid whitesmoke; */
        width: 100vw;
    }

    /* SUB-BAR - Dad Joke stuffs */
    .dadJoke {
        /* align-content: space-between; */
        margin: 2em;
        padding: 0 1em;
    }
}

/* ------------------------------------------------- */
/* FOOTER */
#creditEW {
    margin-top: .2em;
    
}

.footer {
    width: cover;
    flex-direction: column-reverse;
    margin: .5em;
}

#footLeft {
    display: none;
}

#footRight {
    display: flex;
    flex-direction: column;
}

#footRight h5 {
    display: none;
}

#iconShell {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.connectIcons {
    height: 75px;
    width: 75px;
    border-radius: 300px;
    margin: .3em;
}

/* #footLI {
    background-image: url('../assets/linkedin.svg');
    background-position: center;
}
#footGH {
    background-image: url('../assets/github-logo.svg');
    background-position: center;
    background-size: 100%;
}
#footEW {
    background-image: url('../assets/EW-Logo-5.jpg');
    background-position: center;
    background-size: 100%;
} */
