@media only screen and (max-width: 450px) {
    .jumbotron {
        position: relative;
        top: 3.5em;
        z-index: -1;
        margin-bottom: 3.5em;
    }

    /* MISSION STATEMENT  */
    .mission-body {
        padding: 0 2em 2em 2em;
        width: 100%;
    }

    .mStatement {
        width: 80vw;
    }

    #mission-image {
        visibility: hidden;
    }

    /* ABOUT ME */
    #aboutMeText {
        width: 100vw;
    }

    #aboutMePic {
        visibility: hidden;
    }

    /* DESIGN */
    .designPrincipleMain {
        padding: .5em;
    }

    #designConcept {
        padding: 0 20px;
        width: 90vw;
    }

    .designColors {
        border-right: none;
        border-bottom: 5pt solid whitesmoke;
        width: 100vw;
    }

    #d-Colors {
        height: 50px;
        width: 50px;
        margin: .75em;
        border: 1pt solid red;
        border-radius: 300px;
    }

    .designFonts {
        padding: 1em;
        border-bottom: 5pt solid whitesmoke;
        width: 100vw;
    }

    /* SUB-BAR - Dad Joke stuffs */
    .dadJoke {
        /* align-content: space-between; */
        margin: 2em;
        padding: 0 1em;
    }
}

/* __________________________________________ */
/* Tablets */
@media only screen and (max-width: 770px) {

    /* SUB-BAR - Dad Joke stuffs */
    .dadJoke {
        /* align-content: space-between; */
        margin: 2em;
        padding: 0 1em;
    }

}